server:
  port: 9007

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery:8761/eureka/
  instance:
    preferIpAddress: true

ribbon:
  eureka:
    enabled: true

spring:  
  rabbitmq:
    host: localhost     
    port: 5672
    username: guest
    password: guest