server:
  port: 9008

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery:8761/eureka/
  instance:
    preferIpAddress: true

ribbon:
  eureka:
    enabled: true

spring:  
  rabbitmq:
    host: localhost     
    port: 5672
    username: guest
    password: guest
  datasource:
      driverClassName: com.mysql.jdbc.Driver
      #url:  jdbc:mysql://localhost:3306/saas_crm?useUnicode=true&characterEncoding=utf-8
      url:  jdbc:mysql://47.104.192.186:3306/saas_crm?useUnicode=true&characterEncoding=utf-8
      username: saas_crm
      password: 123456
    
mybatis:
     type-aliases-package: service.reg.entity
     
#pagehelper分页插件配置
pagehelper:
   helperDialect: mysql
   reasonable: true
   supportMethodsArguments: true
   params: count=countSql

#日志配置
logging:
  level: 
    service: debug
    org.springframework.web: debug
    org.springframework.transaction: debug
    org.mybatis: debug
  
debug: false